/* 
body يعني كامل الصفحة
أي تنسيق هنا يطبق على الصفحة كلها
*/
body{

    /* تغيير نوع الخط */
    font-family: Arial;

    /* تغيير لون خلفية الصفحة */
    background-color: #f0f0f0;

    /* توسيط النص */
    text-align: center;

}

/* تنسيق العنوان الرئيسي */
h1{

    /* تغيير لون النص */
    color: blue;

}

/* تنسيق الفورم */
form{

    /* لون خلفية الفورم */
    background-color: white;

    /* عرض الفورم */
    width: 300px;

    /* توسيطه بالصفحة */
    margin: auto;

    /* مسافة داخلية */
    padding: 20px;

}
